.jsOn{
	background-color: gray;
	line-height: 1.5;
	margin: 1.125em 0;
}
.jsOff .cycle-slideshow div {
	display: inline-block;
	padding: 0.5em;
}
#carousel .cycle-slideshow {
	margin: 0 3.5em;
}
#carousel {
	margin: 1em 0;
	position: relative;
}
.cycle-button {
	bottom: 0;
	cursor: pointer;
	overflow: hidden;
	position: absolute;
	top: 0;
	width: 3em;
}
.cycle-next {
	right: 0;
}
.cycle-prev {
	left: 0;
}
.button-wrap {
	background: #4fc1e9;
	border-radius: 50%;
	bottom: 0;
	position: absolute;
	top: 0;
	transition: all 0.3s;
	width: 6em;
}
.cycle-next .button-wrap {
	right: 0;
}
.cycle-prev .button-wrap {
	left: 0;
}
.cycle-button .button-wrap:hover {
	background: #38afda;
}
.cycle-button .button-wrap:before {
	border-style: solid;
	content: '';
	margin-top: -0.866em;
	position: absolute;
	top: 50%;
}
.cycle-next .button-wrap:before {
	border-width: 0.866em 0 0.866em 1em;
	border-color: transparent transparent transparent
	rgba(255,255,255,0.5);
	right: 1em;
}
.cycle-prev .button-wrap:before {
	border-width: 0.866em 1em 0.866em 0;
	border-color: transparent rgba(255,255,255,0.5) transparent
	transparent;
	left: 1em;
}

.cycle-next .button-wrap:hover:before {
	border-left-color: rgba(255,255,255,0.8);
}
.cycle-prev .button-wrap:hover:before {
	border-right-color: rgba(255,255,255,0.8);
}
.jsOff .cycle-button {
	display: none;
}

/* ========================= slide show ====================== */


#carousel,
#slideshow {
	margin: 1em 0;
	position: relative;
}
#carousel .cycle-slideshow,
#slideshow .cycle-slideshow {
	margin: 0 3.5em;
}
.jsOff #slideshow {
	display: none;
}
.cycle-overlay {
	bottom: 0;
	left: 0;
	position: absolute;
	right: 0;
	z-index: 101;
}
.headline {
background: rgba(0,0,0,0.6);
color: white;
margin: 0 4em;
padding: 1em;
}
.headline h2 {
color: white;
font-size: 2em;
line-height: 1.125;
}
.headline p {
font-style: italic;
line-height: 1.5;
}
#carousel .cycle-slide img {
border: 2px solid transparent;
display: block;
opacity: 0.7;
}
#carousel .cycle-slide-active img {
border-color: #38AFDA;
opacity: 1;
}
.cycle-button.disabled {
opacity: 0.5;
}
/*
.cycle-slideshow img {
height: auto;
max-width: 100%;
}
*/