.jsOn{
	background-color: gray;
	line-height: 1.5;
	margin: 1.125em 0;
}
.sf-menu {
background: white;
}
.sf-menu:after {
clear: both;
content: '';
display: table;
}
.sf-menu li {
position: relative;
}
.sf-menu li:hover {
background: #a0d468;
}
.sf-menu a {
color: #444;
display: block;
padding: 1.5em 1em;
position: relative;
text-decoration: none;
}
.sf-menu a:hover {
background: #a0d468;
color: white;
}
.sf-menu ul {
background: #a0d468;
z-index: 99;
}
.sf-menu ul li:hover {
background: #8cc152;
}
.sf-menu ul a:hover {
background: #8cc152;
}
.sf-menu li:hover > ul {
display: block;
}
.sf-menu ul ul {
background: #8cc152;
}
.sf-menu ul ul li:hover {
background: #7bb140;
}
.sf-menu ul ul a:hover {
background: #7bb140;
}
nav.super-nav {
margin: 2em 1em;
}
.super-nav .sf-menu {
border-radius: 7px;
}
.super-nav .sf-menu li {
white-space: nowrap;
}
.super-nav .sf-menu > li:first-child,
.super-nav .sf-menu > li:first-child a {
border-top-left-radius: 7px;
}
.super-nav .sf-menu > li {
float: left;
}
.super-nav .sf-menu ul {
border-bottom-right-radius: 7px;
border-bottom-left-radius: 7px;
display: none;
left: 0;
min-width: 12em;
position: absolute;
top: 100%;
}
.super-nav .sf-menu ul > li:last-child,
.super-nav .sf-menu ul > li:last-child a {
border-bottom-left-radius: 7px;
border-bottom-right-radius: 7px;
}
.super-nav .sf-menu ul ul {
border-top-right-radius: 7px;
top: 0;
left: 100%;
}
.super-nav .sf-menu ul ul > li:first-child,
.super-nav .sf-menu ul ul > li:first-child a {
border-top-right-radius: 7px;
}
.super-nav .sf-menu ul ul > li:last-child,
.super-nav .sf-menu ul ul > li:last-child a {
border-bottom-right-radius: 7px;
}
.super-nav .sf-arrows .sf-with-ul {
padding-right: 2.5em;
}
.super-nav .sf-arrows .sf-with-ul:after {
border: 5px solid transparent;
border-top-color: #444;
content: '';
height: 0;
margin-top: -3px;
position: absolute;
right: 1em;
top: 50%;
width: 0;
}
.super-nav .sf-arrows > li > .sf-with-ul:focus:after,
.super-nav .sf-arrows > li:hover > .sf-with-ul:after {
border-top-color: white;
}
.super-nav .sf-arrows ul .sf-with-ul:after {
margin-top: -5px;
margin-right: -3px;
border-color: transparent;
border-left-color: #e7f2dc;
}
.super-nav .sf-arrows ul li > .sf-with-ul:focus:after,
.super-nav .sf-arrows ul li:hover > .sf-with-ul:after {
border-left-color: white;
}
a.meanmenu-reveal {
display: none;
}
.mean-container .mean-bar {
background: white;
padding: 0.222em 0;
min-height: 2.531em;
position: relative;
width: 100%;
z-index: 999999;
}
.mean-container a.meanmenu-reveal {
color: #444;
cursor: pointer;
display: block;
font-size: 18px;
height: 1.5em;
line-height: 1.5;
padding: 13px 13px 11px 13px;
position: absolute;
right: 0;
text-decoration: none;
text-indent: -9999em;
top: 0;
width: 1.5em;
}
.mean-container a.meanmenu-reveal span {
background: #444;
display: block;
height: 0.198em;
margin-top: 0.198em;
width: 100%;
}
.mean-container .mean-nav {
background: white;
margin-top: 2.25em;
width: 100%;
}
.mean-container .mean-nav ul {
width: 100%;
}
.mean-container .mean-nav ul li {
position: relative;
width: 100%;
}
.mean-container .mean-nav ul li:after {
clear: both;
content: '';
display: table;
}
.mean-container .mean-nav ul li a {
border-bottom: 1px solid rgba(160, 212, 104, 0.3);
color: #444;
display: block;
padding: 1em 5%;
text-align: left;
text-decoration: none;
width: 90%;
}
.mean-container .mean-nav ul li:hover a,
.mean-container .mean-nav ul li a:hover {
color: white;
}
.mean-container .mean-nav ul li li a {
border-bottom: 1px solid rgba(255,255,255,0.5);
padding: 1em 10%;
width: 80%;
}
.mean-container .mean-nav ul li.mean-last a {
border-bottom: none;
margin-bottom: 0;
}
.mean-container .mean-nav ul li li li a {
width: 70%;
padding: 1em 15%;
}
.mean-container .mean-nav ul li li li li a {
width: 60%;
padding: 1em 20%;
}
.mean-container .mean-nav ul li li li li li a {
width: 50%;
padding: 1em 25%;
}
.mean-container .mean-nav ul li a.mean-expand {
border: none;
height: 1.688em;
padding: 0.75em;
position: absolute;
right: 0;
text-align: center;
top: 0;
width: 1.688em;
z-index: 2;
}
.mean-container .mean-nav ul li a.mean-expand:hover {
background: none;
}
.mean-container .mean-push {
clear: both;
float: left;
width: 100%;
}
.mean-nav .wrapper {
width: 100%;
}
.mean-container .mean-bar, .mean-container .mean-bar * {
box-sizing: content-box;
}